<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to My WebPage</h1>
    <h1>tHIS IS THE SECOND HEADING TO TEST THE CICD AUTOMATION</h1>

    <center><marquee behavior="" direction=""><h1 style="color:blueviolet;">This is Akanksha This Side</h1></marquee></center>
    <nav>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('about') }}">About</a> |
        <a href="{{ url_for('greet') }}">Greet</a>
    </nav>
</body>
</html>
